<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>등록하러 왔노!!!</title>
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <div>
            <a href="@{/add}">등록</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FOOD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="food : ${foods}">
                        <td th:text="${food.foodId}"></td>
                        <td th:text="${food.foodName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>